html {
  font-size: 62.5%;

  --font-serif: 'RobotoSlab', serif;
  --font-sans-serif: 'Roboto', sans-serif;
  --font-family: var(--font-sans-serif);
  font-family: var(--font-family);

  --z-top: 3;
  --z-high: 2;
  --z-raised: 1;
  --z-base: 0;
  --z-low: -1;

  --info-bg: #3abff8;
  --success-bg: #36d399;
  --warning-bg: #fbbd23;
  --error-bg: #f87272;
  --white: #fff;
  --black: #000;

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-primary);
  font-family: var(--font-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: var(--font-serif);
}

button {
  all: unset;
  cursor: pointer;

  &:focus {
    outline: revert;
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* TODO: Update this to use fontaine: https://github.com/nuxt-modules/fontaine */
/* Serif */
@font-face {
  font-family: 'RobotoSlab';
  src: url('/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Sans Serif */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
