html {
  font-size: 16px;

  --font-serif: 'RobotoSlab', serif;
  --font-sans-serif: 'Roboto', sans-serif;
  --font-family: var(--font-sans-serif);
  font-family: var(--font-family);

  --time-400: 400ms;
  --time-350: 350ms;
  --time-300: 300ms;
  --time-250: 250ms;
  --time-200: 200ms;
  --time-150: 150ms;
  --time-100: 100ms;
  --time-50: 50ms;

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  --font-family: var(--font-serif);
}

p {
  margin: 0;
}

button {
  outline: none;
  &:hover {
    background-color: inherit;
  }
}

a {
  text-decoration: none;
}

/* Serif */
@font-face {
  font-family: 'RobotoSlab';
  src: url('/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Sans Serif */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
